@model IEnumerable<GibJohnWebsite.Models.AddLessonClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
        <tr>
                    <td class="column-section">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                    <td class="column-section">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                    <td class="column-section">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
                    <td class="column-section">
                @Html.DisplayFor(modelItem => item.Tutor)
            </td>
                    <td class="column-section">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<style>
    .rounded-rectangle {
        border: 3px solid #604132;
        border-radius: 15px;
        padding: 20px;
        background-color: #8e604a;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    th {
        background-color: #007bff;
        color: black;
    }

    .column-section {
        border: 3px solid #919581 !important;
    }

    tr .column-section {
        background-color: #aab396;
    }
</style>